body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
}
ol,
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.section-header{
    line-height: 1.111;
    font-weight: 700;
}
.content-header{
    line-height: 1.2;
    font-weight: 500;
}