.team{
    background-color: #F4F4FD;
}
.info-team{
    background-color: #FFFFFF;
}
.section-title{
    text-align: center;
}
.title-name{
    text-align: center;
}
.paragraph-team{
    text-align: center;
}